<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start" defaultHref="/tabs/episodes">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>"{{ death?.season }}"</ion-title>
  
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngIf="death">


    <ion-item>
      <ion-icon name="card" slot="start"></ion-icon>
      Season: {{ death.season }} Episode: {{ death.episode_id}}
    </ion-item>

    <ion-item>
      <ion-icon name="death" slot="start"></ion-icon>
      Death: {{ death.name }} Number: {{ death.deathCount}}
    </ion-item>

    <ion-item>
      <ion-icon name="calendar" slot="start"></ion-icon>
      Cause: {{ death.cause }}
    </ion-item>

    <ion-item>
      <ion-icon name="people" slot="start"></ion-icon>
      Characters: {{ episode.characters }}
    </ion-item>
  </ion-card>
</ion-content>
